.hyperlynx-warning::after {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    content:"";
    display: inline-block;
    height: 20px;
    width: 20px; 
}
.hyperlynx-warning::after {
    background-image: url("./icons/hyperlynx-warning.svg");
}
.hyperlynx-warning:hover::after {
    transform: scale(1.5);
}
.hyperlynx-warning:hover {
    text-decoration: underline #fe953d !important;
}